{% extends 'base.html.twig' %}

{% block title %}Projets
{% endblock %}

{% block body %}

<section class="projects-section">
	<h3>Réalisations</h3>
	<div class="thumbnail">
		<img class="thumbnail-project" src="{{ asset('img/logo-kroon.png') }}">
		<div class="thumbnail-content">
			<span class="badge">Projet de formation</span>
			<p class="thumbnail-title">Kroon
			</p>
			<p class="thumbnail-description">Site d'entraide pour retrouver l'origine ou le titre d'un son, d'une réplique de film...</p>
			<div class="thumbnail-footer">
				<a href="{{ path('kroon') }}">En savoir plus</a>
			</div>
		</div>
	</div>
		<div class="thumbnail">
		<img class="thumbnail-project" src="{{ asset('img/SonicLogo.png') }}">
		<div class="thumbnail-content">
			<span class="badge">Exercice</span>
			<p class="thumbnail-title">Projet Sonic
			</p>
			<p class="thumbnail-description">Exercice d'entraînement au MVC et appels en BDD avec PHP </p>
			<div class="thumbnail-footer">
				<a href="{{ path('sonic') }}">En savoir plus</a>
			</div>
		</div>
	</div>
		<div class="thumbnail">
		<img class="thumbnail-project" src="{{ asset('img/InstalikeLogo.png') }}">
		<div class="thumbnail-content">
			<span class="badge">Projet personnel</span>
			<p class="thumbnail-title">InstaLike
			</p>
			<p class="thumbnail-description">Réalisation d'un site de type Instagram avec utilisation du framework Symfony</p>
			<div class="thumbnail-footer">
				<a href="{{ path('instalike') }}">En savoir plus</a>
			</div>
		</div>
	</div>
	<div class="thumbnail">
		<img class="thumbnail-project" src="{{ asset('img/code.jpeg') }}">
		<div class="thumbnail-content">
			<span class="badge">Projet personnel</span>
			<p class="thumbnail-title">Portfolio
			</p>
			<p class="thumbnail-description">Réalisation de mon portfolio avec utilisation du framework Symfony</p>
			<div class="thumbnail-footer">
				<a href="{{ path('portfolio') }}">En savoir plus</a>
			</div>
		</div>
	</div>

{% endblock %}
