{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}

	<h1>
		Contact
	</h1>

	<form method="post">
		<div class="container">

			<a target="_blank" href="https://www.linkedin.com/in/amelie-sausseau/">
				<i class="fab fa-linkedin"></i></a>

			<a target="_blank" href="https://github.com/Amelie-Sausseau/">
				<i class="fab fa-github-square"></i></a>

			{{ form_start(form) }}

			<div class="form-group">
				{{ form_label(form.name, 'Nom *') }}
				{{ form_widget(form.name, {'attr':{'class':'form-control'}}) }}
				{{ form_errors(form.name) }}
				<br>

				{{ form_label(form.email, 'Adresse email *') }}
				{{ form_widget(form.email, {'attr':{'class':'form-control'}}) }}
				{{ form_errors(form.email) }}
				<br>

				{{ form_label(form.message, 'Votre message *') }}
				{{ form_widget(form.message, {'attr':{'class':'form-control'}}) }}
				{{ form_errors(form.message) }}


				<h6>* Champs obligatoires</h6>

			</div>


			<button class="button" type="submit">Envoyer</button>
			<a class="button" href="{{ path('main') }}">Retour à l'accueil</a>
			{{ form_rest(form) }}
			{{ form_end(form) }}
		</div>
	</form>
{% endblock %}
